$backgroundColor: #D0D0D0;
$backgroundColor_label: #404040;
$textColor: #404040;
$textColor_label: #FFFFFF;
$textColor_error: #900000;
$borderColor_error: #900000;

.apod_container {
    background-color: $backgroundColor;
    color: $textColor;
    padding: 20px 20px 10px 20px;

    .apod_title {
        text-align: center;
        font-size: 1.6em;
    }

    .apod_media {
        text-align: center;
        margin: 10px 0px;
        width: 100%;
    }

    .apod_label {
        background-color: $backgroundColor_label;
        color: $textColor_label;
        text-align: center;
        margin-top: 10px;
        font-size: 0.9em;
    }

    .apod_page_url {
        text-align: center;
        margin-top: 10px;
        font-size: 0.8em;
    }

    .apod_error {
        text-align: center;
        margin-top: 30px;
        padding: 20px 0px;
        border-style: dashed;
        border-width: 1px;
        border-color: $borderColor_error;
        font-size: 1em;
        color:$textColor_error;
    }
}